/* For Destop screens and above */

@media (min-width: 1200px) {
    .contain {
        width: 80%;
    }
}


/* For laptop screens and above */

@media (min-width: 913px) {
    .img-a {
        position: absolute;
        bottom: 0;
    }
    .col-text {
        height: 590px;
    }
    .col-text-2 {
        height: 740px;
    }
    .card:hover .img-a {
        position: absolute;
        bottom: 10px;
    }
}

@media (min-width: 1400px) {
    .col-text {
        height: 600px;
    }
}


/* For Ipad screens and below */

@media (max-width: 912px) {
    .bio p {
        width: 380px;
    }
    #c-img {
        width: 220px;
    }
    #intro {
        width: 600px;
    }
    .cursor {
        font-size: 30px;
    }
    .col {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 55px;
    }
}


/* For phone screens */

@media (max-width: 600px) {
    #typing-text {
        font-size: 20px;
        line-height: 40px;
    }
    #intro {
        width: 300px;
        margin-left: 30px;
    }
    .cursor {
        font-size: 20px;
    }
    body {
        font-size: 12px;
        line-height: 25px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    .about {
        flex-wrap: wrap;
    }
    .bio {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bio p {
        width: 270px;
    }
    .about-img {
        margin: auto;
    }
    .bio ul li {
        padding-right: 15px;
    }
    footer {
        width: 250px;
    }
    .info2 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    #nav_bar ul li {
        font-size: 15px;
    }
    .icon img {
        width: 20px;
    }
    .icon img:hover {
        width: 24px;
    }
}


/* Smallest size of screen */

@media (max-width: 280px) {
    #intro {
        width: 220px;
    }
    #typing-text {
        font-size: 20px;
    }
    #scrollDown {
        width: 200px;
        text-align: center;
    }
    .bio p {
        width: 200px;
    }
    footer {
        width: 200px;
    }
}