@media (min-width: 1200px) {
    .contain {
        width: 75%;
    }
}

@media (min-width: 913px) {
    .img-a {
        position: absolute;
        bottom: 0;
    }
    .col-text {
        height: 600px;
    }
    .col-text-2 {
        height: 500px;
    }
    .card:hover .img-a {
        position: absolute;
        bottom: 10px;
    }
}

@media (max-width: 912px) {
    .bio p {
        width: 380px;
    }
    #c-img {
        width: 220px;
    }
    #intro {
        width: 600px;
    }
    #typing-text {
        font-size: 40px;
    }
    .cursor {
        font-size: 30px;
    }
    .col {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 55px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    #typing-text {
        font-size: 23px;
    }
    #intro {
        width: 330px;
    }
    .cursor {
        font-size: 20px;
    }
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    .about {
        flex-wrap: wrap;
    }
    .bio {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bio p {
        width: 270px;
    }
    .about-img {
        margin: auto;
    }
    .bio ul li {
        padding-right: 25px;
    }
    footer {
        width: 250px;
    }
    .info2 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 280px) {
    #intro {
        width: 220px;
    }
    #typing-text {
        font-size: 20px;
    }
    #scrollDown {
        width: 200px;
        text-align: center;
    }
    .bio p {
        width: 200px;
    }
    footer {
        width: 200px;
    }
}