@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@400;500&display=swap');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.hidden {
    overflow-y: hidden;
}


/* body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
} */

h1 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
}

nav {
    background-color: #90D693;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 119px;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 100vh;
}

.nav_fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

#nav_bar ul li {
    padding-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

#nav_bar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

header {
    position: relative;
    margin-top: 200px;
}

header h1 {
    text-align: center;
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
}


/* img {
    width: 100%;
    height: auto;
} */

.container {
    background-color: black;
    height: 100vh;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    width: 60%;
    margin: auto;
    border: 5px solid black;
    margin-top: 300px;
}

.slider {
    display: flex;
    width: 100%;
}

#typing-text {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    width: 864px;
}

.cursor {
    background-color: #ccc;
    margin-left: 5px;
    width: 5px;
    font-size: 40px;
    animation: blink 1s infinite;
}

.typing {
    animation: none;
}

#intro {
    margin-bottom: 60px;
    margin-top: 60px;
}

#scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: underline solid white 2px;
    text-underline-offset: 5px;
}

#scrollDown p {
    margin: 0;
}

#scrollDown:hover {
    text-decoration: none;
    font-weight: 600;
}

#scrollDown img {
    width: 24px;
}

.off {
    display: none;
}


/* blink animation key frame*/

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

.slideIn {
    animation: slideIn 2s linear;
}

.slideOut {
    animation: slideOut 2s linear;
}

@keyframes slideIn {
    0% {
        transform: translate3d(-1692px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}