@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:wght@400;500&display=swap');
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.hidden {
    overflow-y: hidden;
}

a {
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
    font-weight: 600;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline solid white 2px;
    text-underline-offset: 5px;
}

.contain2 a:hover {
    text-decoration: none;
}

.card:hover {
    padding: 20px;
    border: 3px solid white;
    cursor: grab;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.icon img:hover {
    width: 30px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
}

nav {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 100vh;
    color: white;
    padding: 15px;
}

.nav_fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

#nav_bar ul li {
    padding-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

#nav_bar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

header {
    position: relative;
    margin-top: 150px;
}

header h1 {
    text-align: center;
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
}

img {
    width: 100%;
    height: auto;
}

.container {
    background-color: black;
    height: 100vh;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.contain {
    margin: auto;
    width: 85%;
}

.contain2 {
    background-color: #000000;
    color: white;
}

.contain2 a {
    text-decoration: underline solid white 2px;
    text-underline-offset: 5px;
}

.contain2 h2 {
    margin-top: 60px;
    margin-bottom: 0;
}

.contain2 .about {
    margin-top: 0;
}

.slider {
    display: flex;
    width: 100%;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
}

#typing-text {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    width: 864px;
    animation: type3 2s steps(40, end) forwards;
}

.cursor {
    background-color: #ccc;
    margin-left: 5px;
    width: 5px;
    font-size: 40px;
    animation: blink 1s infinite;
}

.typing {
    animation: none;
    margin-left: 0;
}

#intro {
    margin-bottom: 60px;
    margin-top: 60px;
    display: inline-table;
}

#scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: underline solid white 2px;
    text-underline-offset: 5px;
    animation: slideIn 2s ease-in-out, float 3s ease-in-out infinite 2s
}

#scrollDown p {
    margin: 0;
}

#scrollDown:hover {
    text-decoration: none;
    font-weight: 600;
}

#scrollDown img {
    width: 24px;
}

.about,
.about2 {
    display: flex;
    margin-top: 60px;
}

.about2 {
    flex-wrap: wrap;
    align-items: center;
}

.bio {
    flex: 0 0 70%;
}

.info {
    flex: 0 0 65%;
}

.info2 {
    flex: 0 0 35%;
    max-width: 35%;
}

.bio ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.bio ul li {
    padding-right: 30px;
}

.bio p {
    width: 464px;
}

#c-img {
    width: 302px;
}

.off {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 1 1 50%;
    max-width: 45%;
    margin-bottom: 55px;
    position: relative;
}

.col-2 {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.col .img {
    height: auto;
    width: auto;
    /* background-color: #ADADAD; */
}

section {
    margin-top: 60px;
}

footer {
    text-align: center;
    width: 539px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    margin-bottom: 60px;
}


/* @keyframes */


/* blink animation key frame*/

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* Slide in */

@keyframes slideIn {
    from {
        opacity: 0.5;
        transform: translateY(-100%)
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }
}


/* Floating */

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}