@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:wght@400;500&display=swap');
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: black;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.hidden {
    overflow-y: hidden;
}

a {
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
}

nav a {
    text-decoration: none;
}


/* body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
} */

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 600;
}

nav {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 119px;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 100vh;
    color: white;
}

.nav_fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

#nav_bar ul li {
    padding-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

#nav_bar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

header {
    position: relative;
    margin-top: 200px;
}

header h1 {
    text-align: center;
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
}

img {
    width: 100%;
    height: auto;
}

.container {
    background-color: black;
    height: 100vh;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.contain {
    margin: auto;
    width: 85%;
}

.slider {
    display: flex;
    width: 100%;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
}

#typing-text {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    width: 864px;
}

.cursor {
    background-color: #ccc;
    margin-left: 5px;
    width: 5px;
    font-size: 40px;
    animation: blink 1s infinite;
}

.typing {
    animation: none;
}

#intro {
    margin-bottom: 60px;
    margin-top: 60px;
}

#scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: underline solid white 2px;
    text-underline-offset: 5px;
}

#scrollDown p {
    margin: 0;
}

#scrollDown:hover {
    text-decoration: none;
    font-weight: 600;
}

#scrollDown img {
    width: 24px;
}

.about {
    display: flex;
    margin-top: 60px;
}

.bio {
    flex: 0 0 70%;
}

.bio ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.bio ul li {
    padding-right: 30px;
}

.bio p {
    width: 464px;
}

#c-img {
    width: 302px;
}

.off {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 1 1 50%;
    max-width: 45%;
    margin-bottom: 55px;
}

.col-2 {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.col .img {
    height: 310px;
    width: auto;
    background-color: #ADADAD;
}

footer {
    text-align: center;
    width: 539px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    margin-bottom: 60px;
}


/* blink animation key frame*/

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

.slideIn {
    animation: slideIn 2s linear;
}